<div class="card bg-transparent">
	<div class="card-header">
		Hub Locations
	</div>
	<!--    <div class="card-body">-->
	<!--        <h4 class="card-title">Hub List</h4>-->
	<!--        <p class="card-text">Injectable Hub Data</p>-->
	<!--        <button class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">Click Me!</button>-->
	<!--    </div>-->
	<div>
		<iframe
			width="100%"
			height="450"
			frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBlmUNjDr9JxeRGgZq-wCAKGshRQgEdI6I
    &q=Albuquerque+NM" allowfullscreen id="map">
		</iframe>
	</div>
</div>