<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModal"
	  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-white" id="editProfileModalLabel">Edit Profile</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-white">
				Edit your KindHub profile.
			</div>
			<div class="modal-header">
				<form [formGroup]="editProfileForm" (ngSubmit)="editProfile();" novalidate>

					<!-- user name -->
					<label for="editUserName" class="text-white">Username</label>
					<div class="form-group">
						<input type="text" id="editUserName" name="userName" formControlName="userName"
								 class="form-control text-white" placeholder="Username">
						<div class="alert alert-danger"
							  *ngIf="editProfileForm.controls.userName?.invalid && editProfileForm.controls.userName?.touched">
							<p *ngIf="editProfileForm.controls.userName?.errors.maxlength">User Name is too long</p>
						</div>
					</div>

					<!-- users  first name-->
					<label for="editFirstName" class="text-white">First Name</label>
					<div class="form-group">
						<input type="text" id="editFirstName" name="firstName" class="form-control text-white"
								 formControlName="firstName" placeholder="First Name">
						<div class="alert alert-danger"
							  *ngIf="editProfileForm.controls.firstName?.invalid && editProfileForm.controls.firstName?.touched">
							<p *ngIf="editProfileForm.controls.firstName?.errors.maxlength">Name is too long</p>
						</div>
					</div>

					<!-- users last name -->
					<label for="editLastName" class="text-white">Last Name</label>
					<div class="form-group">
						<input type="text" id="editLastName" name="userLastName" class="form-control text-white "
								 formControlName="lastName" placeholder="Last Name">
						<div class="alert alert-danger"
							  *ngIf="editProfileForm.controls.lastName?.invalid && editProfileForm.controls.lastName?.touched">
							<p *ngIf="editProfileForm.controls.lastName?.errors.maxlength">Name is too long</p>
						</div>
					</div>

					<!-- users  email-->
					<label for="editEmail" class="text-white">Email</label>
					<div class="form-group">
						<input type="email" id="editEmail" name="editEmail" class="form-control text-white" formControlName="email" placeholder="E-mail">
						<div class="alert alert-danger"
							  *ngIf="editProfileForm.controls.email?.invalid && editProfileForm.controls.email?.touched">
							<p *ngIf="editProfileForm.controls.email?.errors.maxlength">email is to long</p>
						</div>
					</div>
					<!--users bio-->
					<label for="editBio" class="text-white">Bio</label>
					<div class="form-group">
						<input type="text" id="editBio" name="bio" class="form-control text-white "
								 formControlName="bio" placeholder="Bio">
						<div class="alert alert-danger"
							  *ngIf="editProfileForm.controls.bio?.invalid && editProfileForm.controls.bio?.touched">
							<p *ngIf="editProfileForm.controls.bio?.errors.maxlength">Bio is too long</p>
						</div>
					</div>

					<!-- Submit button -->
					<button type="submit" [disabled]="editProfileForm.invalid" name="submit" class="btn btn-dark">Submit
					</button>
				</form>
				<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
					<button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span>
					</button>
					{{ status.message }}
				</div>
			</div>
		</div>
	</div>
</div>

