<!-- ------------------------------------------------ -->
<!-- This is the main template for the Home Page View -->
<!-- ------------------------------------------------ -->


		<div class="sfooter-content">

			<!-- inject navbar -->
			<navbar></navbar>

			<div class="container text-center pb-5 pt-4" id="cool">
				<img class="img-responsive2" src="../assets/images/noun_112344.png" style="max-width: 50%;">
				<p class="text-white size animated infinite bounce">Scroll Down</p>
				<i class="fa fa-angle-double-down text-white" aria-hidden="true"></i>
			</div>

			<div class="jumbotron jumbotron-fluid mb-5 pb-5">
				<div class="container">
					<h3 class="display-3 text-white">Be Kinder.</h3>
					<p class="lead text-white">Welcome to KindHub! Sign up to create a hub where anyone can easily donate to or find the help they need. As your hub gets better you will start to earn reputation and levels. If you are trying to give to or find a hub, these will be listed in the section called Find a Hub, it's just that easy.
					</p>
				</div>
			</div>

			<!-- begin Home Page layout -->
			<main class="my-5">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md- col-lg-6">

							<!-- inject admin panel -->
							<hub-panel></hub-panel>
						</div>
						<div class="col-md-6 col-lg-6">

							<!-- inject content panel -->
							<content-panel></content-panel>

						</div>
					</div>
				</div>

				<div class="jumbotron jumbotron-fluid mb-5 pb-5">
					<div class="container">
						<h3 class="display-3 text-white">FAQ</h3>
						<p class="lead text-white">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
						</p>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<address>
							<ul>
								<li class="text-white">KindHub</li>
								<li class="text-white">20 1st Plaza Center NW #200</li>
								<li class="text-white">Albuquerque, NM 87102</li>
								<li class="font-italic"><a href="mailto:kindhub@icloud.com">kindhub@icloud.com</a></li>
							</ul>
						</address>
					</div>
				</div>
			</main>

		</div>

		<sign-in></sign-in>
		<sign-up></sign-up>

		<!-- inject footer -->
		<foot></foot>
