<!-- ------------------------------------------------ -->
<!-- This is the main template for the Home Page View -->
<!-- ------------------------------------------------ -->
<!DOCTYPE html>
<html>

	<!-- inject head-utils -->

	<body class="sfooter">
		<div class="sfooter-content">

			<!-- inject navbar -->
			<navbar></navbar>

			<div class="container text-center pb-5 pt-4">
				<img class="img-responsive2" src="../assets/images/noun_112344.png" style="max-width: 50%;">
				<p class="text-white">Scroll Down</p>
				<i class="fa fa-angle-double-down text-white" aria-hidden="true"></i>
			</div>

			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-3 text-white">Be Kinder.</h1>
					<p class="lead text-white">Welcome to KindHub! Sign up to create a hub where anyone can easily donate to or find the help they need. As your hub gets better you will start to earn reputation and levels. If you are trying to donate to or find a hub, these will be listed in the section called Hubs, it's just that easy.
					</p>
				</div>
			</div>

			<!-- begin Home Page layout -->
			<main class="my-5">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md- col-lg-6">

							<!-- inject admin panel -->
							<hub-panel></hub-panel>
						</div>
						<div class="col-md-6 col-lg-6">

							<!-- inject content panel -->
							<content-panel></content-panel>

						</div>
					</div>
				</div>
			</main>

		</div>

		<!-- inject footer -->
		<foot></foot>
	</body>
</html>