<div class="card bg-transparent text-white mb-3 mb-lg-0">
	<div class="card-header">
		<div class="h6 mb-0 text-center">Find A Hub</div>
	</div>
	<div *ngFor="let object of hubs" class="card-body">
		<p class="card-text text-white">{{ object.hub.hubName }}, {{ object.hub.hubLocation }}
			<a class="btn btn-dark" href="#" data-target="#hubModal" data-toggle="modal"
				(click)="getHub(object.hub.hubId)">Hub Info</a></p>
	</div>
</div>
<div class="modal fade" id="hubModal" tabindex="-1" role="dialog" aria-labelledby="hubModal"
	  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div *ngFor="let object of hub" class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-white">{{object.hub.hubName}}</h5>
				<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-header">
				<div class="modal-body text-white">
					<p>{{object.hub.hubLocation}}</p>
					<p>{{object.reputation}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
