<body>
	<div class="container">
		<div class="row">
			<div class="card mx-auto p-3 mt-3" style="width: 20rem;">
				<img class="card-img-top" src="" alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">{{user.userId}}</h4>
					<p class="card-text">Bio</p>
					<userImage></userImage>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">First Name</li>
					<li class="list-group-item">Last Name</li>
					<li class="list-group-item">Email</li>
				</ul>
				<div class="card-body">
					<a href="#" class="card-link" data-toggle="modal" data-target="#editProfileModal">Edit Profile</a>
					<a href="#" class="card-link" data-toggle="modal" data-target="#createHubModal">Create Hub</a>
					<a href="#" class="card-link">Delete Hub</a>
				</div>
			</div>
		</div>
	</div>
</body>