<body class="sfooter">
	<div class="sfooter-content">
		<navbar></navbar>
		<div class="container">
			<div class="row">
				<div class="card mx-auto p-3 mb-3" style="width: 20rem;">
					<img class="card-img-top text-white" [src]=" user.userImage "  alt="Card Image Cap">
					<div class="card-body">
						<!--adds user username-->
						<h4 class="card-title text-white">{{user.userUserName}}</h4>
						<p class="card-text text-white">{{user.userBio}}</p>
						<userImage></userImage>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item text-white">{{user.userFirstName}}</li>
						<li class="list-group-item text-white">{{user.userLastName}}</li>
						<li class="list-group-item text-white">{{user.userEmail}}</li>
						<li class="list-group-item text-white">User Rating: +2</li>
					</ul>
					<div class="card-body">
						<a href="#" class="card-link" data-toggle="modal" data-target="#editProfileModal">Edit Profile</a>
						<a href="#" class="card-link" data-toggle="modal" data-target="#createHubModal">Create Hub</a>
						<a href="#" class="card-link">Delete Hub</a>
					</div>
					<!-- inject modal window -->
					<edit-profile></edit-profile>
					<create-hub></create-hub>
					<foot></foot>
				</div>
			</div>
		</div>
	</div>
</body>