<body class="sfooter">
	<div class="sfooter-content">
		<navbar></navbar>
		<div class="container">
			<div class="row">
				<div class="card mx-auto p-3 mt-3" style="width: 20rem;">
					<img class="card-img-top" src="" alt="Card image cap">
					<div class="card-body">
						<!--adds user username-->
						<h4 class="card-title">{{user.userId}}</h4>
						<p class="card-text">{{user.userBio}}</p>
						<userImage></userImage>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">First Name</li>
						<li class="list-group-item">Last Name</li>
						<li class="list-group-item">Email</li>
					</ul>
					<div class="card-body">
						<a href="#" class="card-link" data-toggle="modal" data-target="#editProfileModal">Edit Profile</a>
						<a href="#" class="card-link" data-toggle="modal" data-target="#createHubModal">Create Hub</a>
						<a href="#" class="card-link">Delete Hub</a>
					</div>
					<!-- inject modal window -->
					<edit-profile></edit-profile>
					<create-hub></create-hub>
					<foot></foot>
				</div>
			</div>
		</div>
	</div>
</body>