<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="signInModalLabel">Sign In</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-header">
				<form role="form">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email"/>
						<input type="password" class="form-control" placeholder="Password" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-block">Log In</button>
			</div>
		</div>
	</div>
</div>


