<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel"
	  aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-white" id="signInModalLabel">Sign In</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>


			<div class="modal-body">
				<!-- actual login form -->
				<form [formGroup]="signInForm" novalidate (ngSubmit)="createSignIn();">

					<!-- username goes here -->
					<div class="form-group">
						<label for="signin-email" class="control-label text-white">Email</label>
						<input type="text" name="signin-email" id="signin-email" formControlName= "userEmail" class="form-control input-sm text-white">
					</div>

					<!-- password goes here -->
					<div class="form-group">
						<label for="signin-password" class="control-label text-white">Password</label>
						<input type="password" id="signin-password" name="signin-password" formControlName="password"
								 class="form-control text-white">
					</div>

					<!--took this out of button: [disabled]="signInForm.invalid"-->
					<button type="submit" id="submit" class="btn btn-dark">submit
					</button>
				</form>
				<div *ngIf="status !== null" class="alert alert-dismissible" [ngClass]="status.type" role="alert">
					<button type="button" class="close" aria-label="Close" (click)="status = null;"><span
						aria-hidden="true">&times;</span></button>
					{{ status.message }}
				</div>


			</div>
		</div>
	</div>
</div>


