<phpunit>
	<testsuites>
		<testsuite name="KindHub">
			<!--<file>UserTest.php</file>-->
			<!--<file>HubTest.php</file>-->
			<file>LevelTest.php</file>
			 <!--<file>ReputationTest.php</file> -->
		</testsuite>
	</testsuites>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
	</php>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>