<phpunit>
	<testsuites>
		<testsuite name="KindHub">
			<file>UserTest.php</file>
			<file>HubTest.php</file>
			<file>LevelTest.php</file>
			<file>ReputationTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>