body {
	background-image: url('../public_html/assets/images/abq.jpg');
}

a {
	color: white;
}

#brand {
	font-size: 1.8em;
}
.nav-link {
	font-size: 0.8em;
}

.badge {
	font-size: 0.5em;
}

.modal-content, .form-control, .card, .list-group-item, .jumbotron {
	background-color: transparent !important;
	border-color: white !important;
}

.card, .card-header {
	border-color: white !important;
}

/*body.modal-open {*/
	/*-webkit-filter: blur(1px);*/
	/*-moz-filter: blur(1px);*/
	/*-o-filter: blur(1px);*/
	/*-ms-filter: blur(1px);*/
	/*filter: blur(1px);*/
/*}*/

