body {
	/*background-image: url('../public_html/assets/images/abq.jpg');*/
	background-image: url('../public_html/assets/images/abstract-geometric-background.png');
	background-attachment: fixed;
	overflow:scroll;
	background-size: cover;
}

a {
	color: white;
}

#brand {
	font-size: 1.8em;
}
.nav-link {
	font-size: 0.8em;
}

.badge {
	font-size: 0.5em;
}

.modal-content, .form-control, .card, .list-group-item, .jumbotron {
	background-color: transparent !important;
	border-color: white !important;
}

.card, .card-header {
	border-color: white !important;
}

.btn {
	background-color: black !important;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: black;
	text-decoration: none;
}

a:hover, a:focus {
	background-color: black !important;
	text-decoration: none !important;
	color: white;
}

body {
	font-family: 'Helvetica', sans-serif !important;
}


.lead {
	font-size: 1em;
}

.display-3 {
	font-size: 3em;
}

.size {
	font-size:0.8em;
}

.modal-backdrop {
	background-image: url('../public_html/assets/images/abstract-geometric-background.png');
	background-size: cover;

	opacity: 100 !important;
}

ul {
	list-style: none;
}

.cool {
	font-size: 0.8em;
}

.map-card {
	padding-bottom: 0.7em;
}

.map-gui {

}








